.home-page__navigation-block {
  background-color: var(--secondary-background-color);
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

  padding: 1rem;
}

.home-page_navigation-title {
  font-size: 1.5rem;
  font-weight: 500;
}

.home-page__navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.home-page__navigation-list-item {
  width: 100%;
}

.home-page__navigation-link {
  background-color: #FFFFFF;
  border-radius: 1rem;
  color: #000000;
  transition:
    transform var(--transition-duration) var(--transition-type),
    background-color var(--transition-duration) var(--transition-type);

  display: flex;
  justify-content: center;
  gap: 0.5rem;

  padding: 0.5rem 0.5rem;
  width: 100%;
}

.home-page__navigation-link-icon {
  height: calc(1rem * 1.5);
}

@media (hover: hover) {
  .home-page__navigation-link:hover {
    background-color: #6ABEBB;
    transform: scale(1.05);
  }
}