.games-page__game-card {
  background-color: var(--secondary-background-color);
  border-radius: 1rem;
  overflow: hidden;

  width: 100%;
}

.games-page__game-card-image {
  object-fit: cover;
  height: 150px;
  width: 100%;
}

.games-page__game-card-description {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  padding: 1rem;
}

.games-page__game-card-title {
  font-size: 1.25rem;
  font-weight: 700;
}

.games-page__game-card-platforms-container {
  display: flex;
  gap: 0.25rem;

  height: 1rem;
}

.games-page__game-card-platform-icon {
  fill: #FFFFFF;
  height: 100%;
}

.games-page__game-card-shopping-block {
  color: #A4A4A4;

  display: flex;
  align-items: center;
  justify-content: space-between;
}