.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  height: 3rem;
}

.header__home-link {
  font-size: 1.5rem;
  font-weight: 700;
  transition: transform var(--transition-duration) var(--transition-type);

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.header__home-link-icon {
  height: calc(1.5rem * 1.5 + 0.5rem);
}

.header__home-link-text {
  display: none;
}

.header__view-cart-link {
  transition: transform var(--transition-duration) var(--transition-type);
  position: relative;
  height: calc(1.5rem);
}

.header__view-cart-link-icon {
  height: 100%;
}

.header__number-of-games-in-cart {
  background-color: var(--accent-color);
  border-radius: 1rem;
  color: #000000;
  font-size: 0.7rem;
  font-weight: 700;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: -0.5rem;
  right: -0.5rem;

  height: 1.15rem;
  width: 1.15rem;
}

@media (min-width: 750px) {
  .header__home-link-text {
    display: inline-block;
  }
}

@media (hover: hover) {
  .header__home-link:hover {
    transform: scale(1.03);
  }

  .header__search-input:hover {
    background-color: #FFFFFF;
    color: #000000;
  }

  .header__view-cart-link:hover {
    transform: scale(1.1);
  }
}