.error-page__background-image {
  background-image: url('/images/error-page-background-image.jpg');
  background-size: cover;
  filter: opacity(0.5);

  position: fixed;
  inset: 0;
  z-index: -1;
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  transform: translateX(30%);

  height: 100vh;
  width: 300px;
}

.error-page__heading {
  font-size: 10rem;
  font-weight: 500;
}

.error-page__description {
  font-size: 1.25rem;
  font-weight: 500;
}

.error-page__return-link {
  background-color: #FFFFFF;
  border-radius: 0.25rem;
  box-shadow: 0 0 20px 0 #FFFFFF20;
  color: #000000;
  font-size: 1.25rem;
  transition: background-color var(--transition-time) var(--transition-type);

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  padding-bottom: 0.75rem;
  padding-top: 0.75rem;
  width: 100%;
}

@media (hover: hover) {
  .error-page__return-link:hover {
    background-color: #FFFFFFCC;
  }
}

@media (max-width: 600px) {
  .error-page {
    transform: translateX(0);

    margin-left: auto;
    margin-right: auto;
  }
}