.games-page__navigation {
  background-color: var(--secondary-background-color);
  overflow: auto;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;

  padding: 1rem;
}

.games-page__navigation-button {
  background: transparent;

  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  margin-bottom: -1rem;
  height: 2rem;
  width: 2rem;
}

.games-page__navigation-button>svg {
  fill: #FFFFFF;
  height: 100%;
}

.games-page__navigation--hidden {
  visibility: hidden;
}

.games-page__navigation-button--menu-hidden {
  background-color: #FFFFFF;
  border-radius: 2rem;
  visibility: visible;

  position: absolute;
  bottom: 2rem;
  right: 1rem;
}

.games-page__navigation-button--menu-hidden>svg {
  fill: #000000;
  height: 85%;
}

@media (min-width: 601px) {
  .games-page__navigation {
    background-color: var(--body-background-color);
    position: static;

    padding: 1rem 0 0 0;
  }

  .games-page__navigation-button {
    display: none;
  }
}