.games-page__content {
  display: flex;
  flex-direction: column;
}

.games-page__content>.loader {
  align-self: center;
}

.games-page__content-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.games-page__games-grid {
  display: grid;
  align-items: stretch;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

@media (max-width: 380px) {
  .games-page__games-grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media (min-width: 601px) {
  .games-page__content {
    padding-left: 2rem;
  }
}